<<<<<<< HEAD
body{
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #c0bdbd;
}

.heading{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* styling for images */
/* if more space is needed on the right side for the cart, you can decrease the width and height properties for the image containers*/
/* imagecontainers 1,2 and three are housing the three different shoe categories. Yeezy, addidas and new balance */
.imagecontainer1{
    display: flex;
}
.imagecontainer1 img{
    width: 200px;
    height: 155px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s;
}
.imagecontainer1 img:not(:last-child){
    margin-right: 50px;
}
.imagecontainer1:hover > :not(:hover){
    opacity: 0.2;
    transform: translateY(10) ;
}

#itemlist1{
    margin-left: 5%;
    margin-top: 10%;
    font-weight: bold;
    font-size: 1.5rem;
}
#itemlist2{
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 5%;
}
.imagecontainer2{
    display: flex;
}
.imagecontainer2 img{
    width: 200px;
    height: 155px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s;
}
.imagecontainer2 img:not(:last-child){
    margin-right: 50px;
}
.imagecontainer2:hover > :not(:hover){
    opacity: 0.2;
}

#itemlist3{
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 5%;
}

.imagecontainer3{
    display: flex;
}
.imagecontainer3 img{
    width: 200px;
    height: 155px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s;
}
.imagecontainer3 img:not(:last-child){
    margin-right: 50px;
}
.imagecontainer3:hover > :not(:hover){
    opacity: 0.2;
}
button{
    border-radius: 10px;
    background-color: rgb(183, 184, 178);
}
div{
    
}